*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar{
  position: fixed;
  z-index: 1;
  background-color: blue;
  height: 100vh;
  width: 50px;
}

.prova{
  background-color: lightblue;
  width:100%;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

p{
  margin-left: 50px;
}

.player-bar{
  position: fixed;
  z-index: 2;
  background-color: red;
  height: 80px;
  width: 100%;
  bottom: 0;
}
