*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'PT Serif', serif; */
}


/* UTILITY */

#airbourne{
  background-image: url(../img/airbourne.png);
  background-size: contain;
}

#brani-pref{
  background-image: url(../img/brani-pref.png);
  background-size: contain;
}

#casey{
  background-image: url(../img/casey.png);
  background-size: contain;
}

#credence{
  background-image: url(../img/credence.png);
  background-size: contain;
}

#daily1{
  background-image: url(../img/daily1.png);
  background-size: contain;
}

#daily2{
  background-image: url(../img/daily2.png);
  background-size: contain;
}

#daily3{
  background-image: url(../img/daily3.png);
  background-size: contain;
}

#daily4{
  background-image: url(../img/daily4.png);
  background-size: contain;
}

#kiss{
  background-image: url(../img/kiss.png);
  background-size: contain;
}

#lordi{
  background-image: url(../img/lordi.png);
  background-size: contain;
}

#red-hot{
  background-image: url(../img/red-hot.png);
  background-size: contain;
}

#refused{
  background-image: url(../img/refused.png);
  background-size: contain;
}

#airbourne{
  background-image: url(../img/airbourne.png);
  background-size: contain;
}

#samurai{
  background-image: url(../img/samurai.png);
  background-size: contain;
}

#slipknot{
  background-image: url(../img/slipknot.png);
  background-size: contain;
}

#turisas{
  background-image: url(../img/turisas.png);
  background-size: contain;
}

/* UTILITY */

/* TOP-BAR */



/* TOP-BAR */

/* SIDEBAR */

.container-sidebar{
  height: calc(100vh - 80px);
  position: relative;
}

.sidebar{
  background-color: #000;
  height: calc(100vh - 80px);
}

.fa-spotify{
  font-size: 35px;
  color: #FFF;
}

.brand{
  height: 50px;
  color: #FFF;
  margin-bottom: 10px;
  padding:10px 0px;
  display: flex;
}

.brand span{
  font-size: 25px;
  display: none;
}

.fa-home{
  content: '\f015';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #808080;
}

.fa-search{
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 30px;
  color: #808080;
}

.fa-book-open{
  content: '\f518';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #808080;
}

.icons-sidebar{
  display: flex;
  flex-direction: column;
}

.icons-sidebar a{
  color: #808080;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

.menu-sidebar{
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.menu-sidebar a:hover{
  color: #FFF
}

.menu-sidebar:active{
  border-left: 3px solid green;
}

.playlist ul li:hover{
  color: #FFF;
  cursor: pointer;
  text-decoration: underline;
}

.ft-side1 span:hover, .ft-side2 span:hover{
  color: #FFF;
  cursor: pointer;
  text-decoration: underline;
}

.playlist{
  display: none;
  padding-left: 10px;
}

.footer-sidebar{
  padding-left: 10px;
  position: fixed;
  bottom: 100px;
}

.fa-arrow-alt-circle-down{
  color: #808080;
  font-size: 15px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.ft-side1{
  display: flex;
  align-items: center;
}

.ft-side2{
  display: flex;
  align-items: center;
}

.ft-side1 span{
  color: #808080;
  font-size: 15px;
  display: none;
}

.footer-sidebar hr{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10%;
  display: none;
}

.ft-side2 span{
  color: #FFF;
  font-size: 18px;
  display: none;
}

.fa-user-circle{
  vertical-align: top;
  padding-right: 5px;
  font-size: 25px;
  color: #FFF;
}

/* SIDEBAR */
/* MAINPAGE */

.main-page{
  background-color: #141922;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.top-bar{
  position: fixed;
  height: 100px;
  background-color: #080B12;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

.top-bar a{
  border: 1px solid white;
  border-radius: 20px;
  color: #FFF;
  padding: 10px 30px;
  font-size: 10px;
}

.top-bar a:hover{
  font-size: 20px;
  background-color: green;
  text-decoration: none;
}

.web-page{
  padding-top: 100px;
}

.menu{
  display: flex;
  flex-flow: wrap;
  color: #808080;
  justify-content:center;
}

.menu h5{
  margin: 15px 10px;
  font-size: 9px;
  padding-bottom: 10px;
  font-weight: bold;
}

.menu h5:hover{
  cursor: pointer;
}

.menu h5:active{
  border-bottom: 1px solid green;
}

.web-page h2{
  color: #FFF;
  font-weight: bold;
  font-size: 25px;
}

.box-container{
  display: flex;
  flex-flow: wrap;
}

.box{
  width: 150px;
  margin: 5px;
}

.box h3{
  font-weight: bold;
  font-size: 17px;
  color: #FFF;
  margin-top: 10px;
}

.box p{
  color: #808080;
  font-weight: bold;
  font-size: 12px;
}

.container-img{
  height: 150px;
  width: 150px;
}

.container-img i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  color: #FFF;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.container-img i:hover{
  opacity: 0.6;
  cursor: pointer;
}

.box h3:hover , .box p:hover{
  cursor: pointer;
}

/* MAINPAGE */
/* PLAYER-BAR */

.player-bar{
  position: fixed;
  background-color: #282828;
  height: 80px;
  width: 100%;
  bottom: 0;
}

.left-part{
  display: flex;
  align-items: center;
  height: 100%;
}

.left-part img{
  width: 30px;
  margin-right: 10px;
}

.left-part a:first-child{
  color: #FFF;
  margin-bottom: 0;
  font-size: 10px;
}

.left-part a:last-child{
  color: #808080;
  font-size: 10px;
  display: none;
}

.left-part .fa-heart{
  color: #808080;
  vertical-align:text-top;
  margin-left: 15px;
  font-size: 15px;
}

.central-part{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper-player{
  color: #FFF;
  font-size: 12px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.fa-play-circle{
  font-size: 30px;
}

.symb-18px{
  font-size: 18px;
  display: none;
}

.symb-15px{
  font-size: 15px;
}

.lower-player{
  display: flex;
  align-items: center;
  margin-top: 10px;

}

.lower-player span{
  color: #FFF;
  font-size: 10px;
}

/* .lower-player span:first-child{
  padding-right: 8px;
}

.lower-player span:last-child{
  padding-left: 8px;
  padding-right: 12px;
} */


.lower-player hr{
  margin: 0 5px;
  border: 2px solid #FFF;
  width: 100%;
  border-radius: 10px;
}

.right-part{
  color: #FFF;
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.right-part i{
  padding-right: 15px;
}

.right-part hr{
  margin: 0;
  width: 100%;
  border: 2px solid #FFF;
  border-radius: 10px;
}

.right-part .fa-desktop , .right-part .fa-sliders-h{
  display: none;
}

.right-part .for-back-right-part{
  font-size: 18px;
}

.left-part a:hover{
  cursor: pointer;
}

.fa-heart:active{
  color: green;
}

.central-part i:hover , hr:hover{
  cursor: pointer;
}

.right-part i:hover , hr:hover{
  cursor: pointer;
}

/* PLAYER-BAR */

@media all and (min-width:768px){

  .fa-spotify{
    font-size: 45px;
    padding-left: 20px;
  }

  .brand{
    margin-bottom: 20px;
    padding-bottom: 50px;
  }

  .brand span{
    display:inline-block;
    font-size: 31px;
    margin-left: 10px;
  }

  .icons-sidebar a{
    display: inline-block;
  }

  .icons-sidebar{
    padding-right: 30px;
  }

  .playlist{
    display: inline-block;
    padding-left: 20px;
    width: 100%;
  }

  .playlist ul li{
    font-size: 16px;
    margin: 10px 0;
    color: #808080;
    list-style: none;
  }

  .fa-home{
    padding: 0 20px;
  }
  .fa-search{
    padding: 0 20px;
  }

  .fa-book-open{
    padding: 0 20px;
  }

  #title-play{
    color: #FFF;
    font-size: 20px;
  }

  .fa-plus-square{
    font-size: 35px;
    color: #FFF;
    background-color: #000;
    padding-right: 15px;
  }

  #crea{
    display: flex;
    align-items: center;
  }

  .footer-sidebar{
    width: 30%;
  }

  .ft-side1 span{
    display: inline-block;
  }

  .footer-sidebar hr{
    display: block;
  }

  .ft-side2 span{
    display: inline-block;
  }

  .fa-arrow-alt-circle-down{
    margin-bottom: 0;
    padding-right: 10px;
  }

  /* SIDEBAR */
  /* MAIN-PAGE */

  .menu h5{
    font-size: 14px;
  }

  .menu{
    padding: 0 50px;
  }

  .top-bar a{
    font-size: 15px;
  }

  /* PLAYER-BAR */

  .left-part img{
    width: 40px;
  }

  .left-part a:first-child{
    font-size: 15px;
  }

  .left-part a:last-child{
    font-size: 15px;
    display: inline-block;
  }

  .left-part .fa-heart{
    vertical-align:text-top;
    margin-left: 20px;
  }

  /* .lower-player span:last-child{
    padding-left: 20px;
    padding-right: 8px;
  } */

  .symb-18px{
    display: inline-block;
  }

  .lower-player hr{
    margin: 0 10px;
  }

  .right-part .fa-desktop , .right-part .fa-sliders-h{
    display: inline-block;
  }

  .right-part .for-back-right-part{
    display: none;
  }

  .right-part{
    flex-wrap: nowrap;
    justify-content:flex-start;
  }
}

@media all and (min-width:992px){

  .footer-sidebar{
    width: 23%;
  }

  .upper-player{
    justify-content: center;
  }

  .upper-player i{
    padding: 0 10px;
  }

  .right-part{
    padding-left: 5%;
  }
}

@media all and (min-width:1200px){
  .right-part{
    padding-left: 10%;
  }
}

@media all and (max-height: 690px){
  .playlist{
    overflow-y: scroll;
  }
}
